@font-face {
    font-family: 'Montserrat_bold';
    src: url(fonts/Montserrat-Bold.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Monsterrat_Regular';
    src: url(fonts/Montserrat-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Monsterrat_Medium';
    src: url(fonts/Montserrat-Medium.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}
