@media screen and (max-width: 768px) {
  .header {
    height: 585px;
    width: 100%;
    background: url(img/header_content.svg) center no-repeat;
    background-position-y: 4px;
    background-position-x: -1px;
    transform: translate(0px,10px);
    padding-bottom: 8px;
    background-size: cover;
  }

  .img__content,
  .social,
  .content__description,
  .content__button,
  .header_link,
  .img__block_back_white,
  .block__link,
  .wrapper-language span,
  .block__counter,
  .counter-2,
  .scroolling__content,
  .footer__buttom { display: none; }

  .logo{
    margin: 0;
    background-color: white;
    -webkit-text-fill-color: #000;
    margin-right: 18%;
    padding-left: 26px;
    padding-top: 19px;
    padding-bottom: 22px;
    transform: translate(0,-30px);
    font: 33px/30px Monsterrat_Medium, arial, helvetica, sans-serif;
  }

  .menu {
    display: block;
    visibility: hidden;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    text-align: center;
    background-color: #FAE8E4;
    transition-duration: 0.02s;
    transform: translateY(-3%);
  }

  .menu__element {
    display: block;
    padding: 24px;
    font-family: Roboto-Medium, arial, helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500px;
    text-decoration: none;
    transition-duration: 0.01s;
    transform: translateY(-164%);
    color: midnightblue;
  }
  .menu a:hover {
    opacity: 0.7;
    color: #e01919;
  }

  .menu__btn {
    width: 18%;
    height: 76px;
    margin-left: 0;
    transform: translate(455%, -21%);
  }

  .menu__btn span,
  .menu__btn span::before {
    width: 40%;
    left: 39%;
    top: 30%;
    transform: translate(-15%,381%);
  }
  .menu__btn span::before {
    width: 97%;
    transform: translate(-39%, 199%);
  }

  #menu__toggle:checked ~ .menu__btn > span { transform: rotate(45deg); }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: -1px;
    left: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu { visibility: visible; }
  #menu__toggle:checked ~ .content { visibility: hidden; }

  #menu__toggle:checked ~ .wrapper-language i { visibility: hidden; }

  .content {
    position: static;
    transform: translate(155%,-878%);
  }

  .content__title {
    transform: translate(-148%,438%);
    font: bold 50px/53px Montserrat_bold, arial, helvetica, sans-serif;
  }
  .wrapper-language i {
    border: solid #080808;
    border-width: 0 3px 3px 0;
    padding: 10px;
    top: 874px;
    right: 217px;
  }

  .wrapper {
    height: 603px;
    top: 583px;
  }

  .img__block_back_pink {
    width: 226px;
    height: 322px;
    padding: 0;
    transform: translateY(-13%);
    margin-left: 20%;
  }

  .block {
    margin: auto;
    zoom: 1.1;
    width: 238px;
    height: 203px;
    padding-bottom: 12px;
    transform: translate(1px,-20%);
  }

  .block__title {
    font: bold 20px/20px Montserrat_bold, arial, helvetica, sans-serif;
    transform: translate(-10%,-211%);
    zoom: 0.9;
  }

  .block__subtitke {
    font: bold 11px/9px Monsterrat_bold, arial, helvetica, sans-serif;
    transform: translate(-10%,-664%);
    zoom: 0.88;
  }

  .block__description {
    font: 9px/13px Monsterrat_Regular, arial, helvetica, sans-serif;
    transform: translate(-25px,-65%);
    zoom: 0.9;
    width: 245px;
  }

  .buttom__color {
    width: 21px;
    height: 21px;
    margin-right: 4px;
    transform: translate(-99%,-176%);
  }

  .buttom__color_pink{
    width: 27px;
    height: 27px;
    transform: translate(-78%,-126%);
  }

  .block_price {
    zoom: 0.9;
    transform: translate(62%,-330%);
    font: bold 20px/28px Montserrat_bold, arial, helvetica, sans-serif;
  }

  .block__buttom__basket {
    zoom: 0.9;
    height: 37px;
    width: 260px;
    transform: translate(-9%,-211%);
    font: 500 13px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  }

  .footer { height: 596px; }

  #rectangle {
    width: 40px;
    height: 100%;
    transform: translateX(257%);
  }

  .img__footer_сontent {
    width: 350px;
    height: 260px;
    transform: translate(-8%,-256%);
  }

  .img__footer_shadow {
    width: 612px;
    height: 300px;
    transform: translate(-29%,-190%);
  }

  .footer__block {
    width: 304px;
    height: 195px;
    padding-top: 1px;
    padding-left: 1px;
    transform: translate(44px,-1060px);
  }

  .footer__title {
    font: bold 21px/20px Montserrat_bold, arial, helvetica, sans-serif;
    transform: translate(25px,25%);
  }

  .footer__subtitle {
    font: bold 11px/10px Montserrat_bold, arial, helvetica, sans-serif;
    padding-left: 24px;
    transform: translateY(-87%);
  }

  .footer__discription {
    width: 254px;
    font: 10px/14px Monsterrat_Regular, arial, helvetica, sans-serif;
    padding-left: 27px;
    transform: translateY(-22%);
  }

  .footer__buttom__basket {
    height: 37px;
    width: 260px;
    transform: translate(9%,14%);
    font: 500 13px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  }

  .footer_link {
    margin-right: 182px;
    transform: translate(157px,80px);
    font: 500 17px/18px Monsterrat_Medium, arial, helvetica, sans-serif;
  }

  .footer__link-img {
    padding-top: 6px;
    width: 97%;
    padding-left: 2px;
  }
}
