@media screen and (max-width: 550px) {


  .social,
  .img__content,
  .content__description,
  .content__button,
  .header_link,
  .img__block_back_white,
  .block__link,
  .wrapper-language span,
  .block__counter,
  .counter-2,
  .scroolling__content,
  .footer__button { display: none; }

  .header {
    height: 598px;
    background-image: url(img/header_content.svg);
    background-repeat: no-repeat;
    background-position-y: 14px;
    background-size: 101%;
  }

  #rectangle__header { background-color: transparent; }

  .logo{
    position: relative;
    margin: 0;
    background-color: white;
    -webkit-text-fill-color: #000;
    padding: 17px 197% 18px 23%;
    top: 8px;
    z-index: 2;
  }

  .menu {
    visibility: hidden;
    width: 100%;
    height: 59vh;
    bottom: 238%;
    padding-top: 6%;
    background-color: #FAE8E4;
  }

  .menu__element { color: midnightblue; }

  .menu__btn {
    width: 69px;
    height: 75px;
    position: relative;
    z-index: 3;
  }

  .menu__btn span,
  .menu__btn span::before {
    position: relative;
    right: 6px;
    bottom: 6px;
    width: 41%;
  }
  .menu__btn span::before {
    width: 97%;
    left: 0;
    bottom: 3px;
  }

  #menu__toggle:checked ~ .menu__btn > span::before { top: 0; }


  #menu__toggle:checked ~ .wrapper-language i { visibility: hidden; }

.content {
  width: 70%;
  left: 0%;
}

  .content__title {
    position: relative;
    top: 329px;
    left: 5%;
    padding-left: 4px;
    margin: 0;
    font: bold 50px/53px Montserrat_bold, arial, helvetica, sans-serif;
  }
  .wrapper-language i {
    position: relative;
    border: solid #080808;
    border-width: 0 3px 3px 0;
    padding: 10px;
    top: 533px;
    left: 20.2vw;
  }

  .wrapper {
    height: 596px;
    top: 583px;
  }

  .img__block_back_pink {
    height: 321px;
    position: relative;
    display: block;
    margin: 0 auto;
    right: 0;
    bottom: 51px;
    top: auto;
  }

  .block {
    margin: auto;
    width: 283px;
    height: 279px;
    left: 3px;
    bottom: 59px;
    padding-left: 34px;
  }

  .block__title {
    font: bold 20px/20px Montserrat_bold, arial, helvetica, sans-serif;
    bottom: 27px;
    position: relative;
    right: 6px;
  }

  .block__subtitke {
    font: bold 10px/10px Monsterrat_bold, arial, helvetica, sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 0;
    bottom: 23px;
    right: 3px;
  }

  .block__description {
    font: 9px/13px Monsterrat_Regular, arial, helvetica, sans-serif;
    width: 260px;
    bottom: 20px;
    right: 5px;
    position: relative;
  }

  .button__color {
    width: 23px;
    height: 23px;
    bottom: 32px;
    position: relative;
    display: flex;
    flex: none;
    margin: 32px 9px 0 0;
  }

  .button__color_pink {
    width: 29px;
    height: 29px;
    top: 3px;
    align-self: flex-end;
  }

  .block_price {
    bottom: 57px;
    padding-left: 185px;
    font: bold 20px/28px Montserrat_bold, arial, helvetica, sans-serif;
  }

  .block__button__basket {
    position: relative;
    height: 38px;
    width: 257px;
    right: 3px;
    bottom: 26px;
    padding-left: 13px;
    margin: 0;
    border: 1px solid black;
  }

  .footer { height: 596px; }

  #rectangle__footer {
    position: relative;
    width: 41px;
    height: 100%;
    margin-left: 4px;
    left: 27%;
  }

  .img__footer_сontent {
    width: 118%;
    height: 261px;
    bottom: 27%;
    padding-top: 2px;
    left: auto;
    right: 11%;
    margin: auto;
  }

  .img__footer_shadow {
    width: 113%;
    height: 45%;
    top: 23%;
    right: 14vw;
  }

  .footer__block {
    width: 280px;
    height: 191px;
    padding: 6px 0 0 23px;
    left: 9px;
    bottom: 164%;
    margin: auto;
  }

  .footer__title {
    font: bold 20px/20px Montserrat_bold, arial, helvetica, sans-serif;
    margin-top: 21px;
  }

  .footer__subtitle {
    font: bold 10px/10px Montserrat_bold, arial, helvetica, sans-serif;
    padding-top: 7px;
    margin: 0;
  }

  .footer__discription {
    width: 226px;
    font: 9px/13px Monsterrat_Regular, arial, helvetica, sans-serif;
    margin: 0;
    padding: 9px 0 0 0;
  }

  .footer__button__basket {
    width: 259px;
    height: 37px;
    padding: 14px 0 16px 0;
    margin: 20px 0 0 3px;
    border: 1px solid;
    font: 500 13px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  }

  .footer_link {
    width: 54%;
    margin: 66px 0 0 120px;
    font: 500 15px/18px Monsterrat_Medium, arial, helvetica, sans-serif;
  }

  .footer__link-img {
    width: 90%;
    padding: 3px 0 0 2px;
  }
}

@media (min-width: 551px) and (max-width: 768px)
{
  .social,
  .content__description,
  .content__button,
  .header_link,
  .img__block_back_white,
  .block__link,
  .wrapper-language span,
  .block__counter,
  .counter-2,
  .scroolling__content,
  .footer__button { display: none; }

  .header { height: 593px; }

  .img__content {
    bottom: 138%;
    width: 100%;
    padding: 0;
    left: 0;
    height: 89%;
    object-fit: cover;
    object-position: top;
  }

  #rectangle__header { background-color: transparent; }

  .logo { -webkit-text-fill-color: #000; }

  .menu {
    width: 100%;
    height: 80%;
    bottom: 237%;
    padding-top: 6%;
    background-color: #FAE8E4;
    z-index: 2;
  }

  .menu__element { color: midnightblue; }

  .menu a:hover {
    opacity: 0.7;
    color: #e01919;
  }

  .menu__btn span,
  .menu__btn span::before { position: relative; }

  .menu__btn span::before { bottom: 3px; }

  #menu__toggle:checked ~ .menu__btn > span::before { top: 0; }

.content {
  width: 50%;
  left: 0;
}

  .content__title {
    position: relative;
    font-size: 4.5em;
    bottom: 268px;
  }

  .wrapper-language i {
    position: relative;
    border: solid #080808;
    border-width: 0 3px 3px 0;
    padding: 10px;
    top: 529px;
    left: 23vw;
    z-index: 1;
  }

  .wrapper { height: 603px; }

  .img__block_back_pink {
    display: block;
    margin: 0 auto;
    height: 400px;
    top: auto;
    left: 0;
    bottom: 43px;
  }

  .block {
    margin: auto;
    width: 286px;
    height: 274px;
    left: 2px;
    bottom: 93px;
  }

  .block__title {
    font: bold 19px/20px Montserrat_bold, arial, helvetica, sans-serif;
    bottom: 27px;
    position: relative;
  }

  .block__subtitke {
    font: bold 10px/10px Monsterrat_bold, arial, helvetica, sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 0;
    bottom: 23px
  }

  .block__description {
    font: 9px/13px Monsterrat_Regular, arial, helvetica, sans-serif;
    width: 260px;
    bottom: 20px;
    right: 4px;
    position: relative;
  }

  .button__color {
    width: 24px;
    height: 24px;
    bottom: 32px;
    position: relative;
    display: flex;
    flex: none;
    margin: 31px 9px 0 0;
  }

  .button__color_pink {
    position: sticky;
    width: 29px;
    height: 29px;
    align-self: flex-end;
  }

  .block_price {
    bottom: 71px;
    font-size: 1.7em;
  }

  .block__button__basket {
    position: relative;
    right: 117px;
    bottom: 59px;
    border: 1px solid black;
  }

  .footer { height: 596px; }

  #rectangle__footer {
    width: 41px;
    height: 100%;
    margin-left: 30%;
  }

  .img__footer_сontent { margin: 0 auto; }

  .img__footer_сontent {
    width: 471px;
    left: 0;
    bottom: 106%;
  }

  .img__footer_shadow {
    width: 408px;
    left: auto;
    right: 54px;
    margin: auto;
  }

  .footer__block {
    width: 304px;
    height: 196px;
    left: 0;
    margin: 0 auto;
    bottom: 156%;
  }

  .footer__title {
    font: bold 20px/20px Montserrat_bold, arial, helvetica, sans-serif;
    margin: 25px 0 0 0;
  }

  .footer__subtitle {
    font: bold 10px/10px Montserrat_bold, arial, helvetica, sans-serif;
    padding: 7px 0 0 0;
    margin: 0;
  }

  .footer__discription {
    width: 226px;
    font: 9px/13px Monsterrat_Regular, arial, helvetica, sans-serif;
    margin: 0;
    padding: 9px 0 0 0;
  }

  .footer__button__basket {
    width: 259px;
    padding: 18px 0 16px 0;
    margin: 20px 0 0 0;
    font: 500 13px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  }

  .footer_link {
    position: relative;
    width: 54%;
    top: 18%;
    left: 28%;
    margin: 0;
    font: 500 15px/18px Monsterrat_Medium, arial, helvetica, sans-serif;
  }

  .footer__link-img { padding-left: 2px; }
}
