#menu__toggle { opacity: 0; }

body{
  zoom: 1;
  margin: 0;
  padding: 0;
}

.header {
  height: 900px;
  width: 32%;
  z-index: 1;
  background-color: #000;
}

.logo{
  margin-top: 3%;
  margin-left: 52px;
  font: 32px/37px Monsterrat_Medium, arial, helvetica, sans-serif;
  -webkit-text-fill-color: #fff;
}

.social a {
  display: inline-block;
  width: 43px;
  height: 43px;
  transform: translate(53px,747px);
  margin-right: 8px;
  border-radius: 50px;
  font-size: 17px;
  text-align: center;
  line-height: 44px;
  -webkit-text-fill-color: #000;
  background-color: #fff;
}

.social a:hover { -webkit-text-fill-color: #0056ec; }

.wrapper-language {
  width: 31px;
  height: 25px;
  transform: translate(1637%,-70px);
  color: #fff;
  outline: none;
  cursor: pointer;
  font: 20px/24px Monsterrat_Medium, arial, helvetica, sans-serif;
}

.wrapper-language i {
  position: absolute;
  display: inline-block;
  padding: 3px;
  top: 8px;
  margin-left: 38px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
  cursor: pointer;
}

.content { transform: translate(155%,-161%); }

.content__title {
  margin-bottom: 16px;
  font: bold 80px/79px Montserrat_bold, arial, helvetica, sans-serif;
}

.content__description {
  width: 110%;
  padding-bottom: 12px;
  font: 15px/21px Monsterrat_Regular, arial, helvetica, sans-serif;
}

.content__button {
  display: inline-block;
  width: 202px;
  height: 43px;
  margin-left: -4px;
  transform: translateY(24%);
  padding: 15px 21px;
  text-decoration: none;
  cursor: pointer;
  font: 13px/0 Monsterrat_Medium, arial, helvetica, sans-serif;
}

.content__button:hover {
  opacity: 0.5;
  background: linear-gradient(to bottom, #fff, #000);
}

.img__content {
  width: 548px;
  height: 562px;
  margin-left: 42%;
  margin-top: 24px;
  margin-right: 696px;
}

.menu__btn {
  display: block;
  position:absolute;
  width: 5%;
  height: 92px;
  top: 0;
  right: 0;
  background-color:#f2f2f2;
}

.menu__btn span,
.menu__btn span::before {
  position: absolute;
  width: 34px;
  height: 3px;
  top: 36%;
  left: 34%;
  margin-top: 8px;
  background-color: #000;
  cursor: pointer;
}

.menu__btn span::before {
  content: '';
  left: 0;
}

.header_link {
  display: inline-block;
  width: 184px;
  padding-left: 10%;
  transform: translateY(146%);
  text-decoration: none;
  font: 500 13px/0 Monsterrat_Medium, arial, helvetica, sans-serif;
  color: black;
}

.header__link-img {
  width: 76px;
  padding-left: 99%;
  margin-top: -8px;
}

.header_link:hover {
  opacity: 0.5;
  transform: translate(10px,0);
}

.wrapper {
  width: 100%;
  height: 900px;
  padding-top: 4%;
  background-color: #FAE8E4;
}

.img__block{ margin: 0; }

.img__block_back_white {
  width: 26%;
  transform: translate(2%,-36%);
  padding-left: 97px;
  padding-top: 219px;
  padding-right: 344px;
}

.img__block_back_pink {
  transform: translate(-103%,-3%);
  padding-top: 12px;
  padding-left: 189px;
  padding-right: 66px
}

.block {
  width: 35%;
  height: 55%;
  transform: translate(132%,-141%);
  padding-left: 55px;
  padding-top: 40px;
  padding-right: 65px;
  box-shadow: 0.4em 0.4em 12px rgba(122,122,122,0.5);
  background-color: #fff;
}

.block__title {
  margin-bottom: 17px;
  margin-top: 4px;
  margin-bottom: 0;
  font: bold 44px/40px Montserrat_bold, arial, helvetica, sans-serif;
}

.block__subtitke {
  letter-spacing: 0.07em;
  opacity: 0.5;
  margin-top: 16px;
  font: bold 17px/16px Monsterrat_bold, arial, helvetica, sans-serif;
}

.block__description {
  padding-top: 59px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: justify;
  opacity: 0.5;
  font: 17px/21px Monsterrat_Regular, arial, helvetica, sans-serif;
}

.buttom__color {
  display: initial;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  margin-right: 9px;
  margin-top: 45px;
  margin-bottom: 0;
  cursor: pointer;
}

.buttom__color:hover { transform: scale(1.5,1.5); }

.buttom__color_gray { background: #DEDEDE; }

.buttom__color_pink {
  width: 38px;
  height: 38px;
  background: #F29F9F;
}

.buttom__color_blue { background: #A8BFF9; }

.buttom__color_green { background: #90BD8F; }

.block_price {
  transform: translate(41%,-161%);
  margin-right: 20%;
  margin-bottom: 0;
  font: bold 42px/56px Montserrat_bold, arial, helvetica, sans-serif;
}

.block__counter{ transform: translate(-2%, -167%); }

.buttom__counter_minus {
  width: 21px;
  height: 12px;
  transform: translate(166%,-2%);
  margin-top: 71px;
  background: #fff;
  border: 0;
  font: 500 12px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
}

#block__search_number {
  width: 91px;
  height: 38px;
  margin-top: 56px;
  padding-left: 2px;
  text-align: center;
  background: #ffffff;
  border: 2px solid black;
  font: 500 12px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  color: black;
}

.bottom__counter_plus {
  width: 21px;
  height: 12px;
  transform: translate(-168%,-12%);
  margin-top: 72px;
  background: #fff;
  border: 0;
  font: 500 12px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
}

.block__buttom__basket {
  width: 253px;
  height: 44px;
  margin-left: 115px;
  padding-top: 1px;
  padding-right: 12px;
  transform: translate(17%,-152%);
  font: 500 14px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  border: 2px solid black;
  background: #ffffff;
  cursor: pointer;
}

.block__buttom__basket:hover { opacity: 0.5; }

.block__link {
  display: inline-block;
  transform: translate(-3%,-90%);
  text-decoration: none;
  font: 500 14px/16px Monsterrat_Medium, arial, helvetica, sans-serif;
  color: black;
  -webkit-text-stroke-width: thin;
}

.block__link:hover {
  opacity: 0.5;
  transform: translateX(10px);
}

.block__link-img {
  padding-top: 3px;
  padding-left: 10px;
}

.footer {
  width: 100%;
  height: 900px;
  background-color: #EBE3D8;
}

#rectangle {
  width: 73px;
  height: 900px;
  transform: translateX(532%);
  background: #000;
}

.footer__content {
  width: 28%;
  height: 315px;
  padding-left: 47px;
  padding-right: 53px;
  padding-top: 34px;
  transform: translate(138%,-432%);
  background-color: #FAE8E4;
}

.img_footer {
  width: 820px;
  height: 618px;
  padding-left: 90px;
  padding-top: 138px;
  padding-bottom: 115px;
  transform: translate(10%,-106%);
}

.footer__title {
  font: bold 42px/35px Montserrat_bold, arial, helvetica, sans-serif;
  margin-top: 5px;
  margin-bottom: 19px;
}

.footer__subtitle {
  font: bold 17px/14px Monsterrat_Regular, arial, helvetica, sans-serif;
  letter-spacing: 0.07em;
  opacity: 0.5;
}

.footer__discription {
  font: 17px/22px Monsterrat_Regular, arial, helvetica, sans-serif;
  opacity: 0.5;
  padding-top: 16px;
  padding-left: 2px;
  padding-right: 26px;
}

.footer__buttom { transform: translateY(-100%); }

.footer__buttom__counter_minus{
  width: 24px;
  height: 17px;
  border: 0;
  margin-left: -5%;
  text-align: center;
  transform: translateX(168%);
  font: 500 24px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  cursor: pointer;
  background: #FAE8E4;
}

.footer__buttom__counter_plus {
  width: 21px;
  height: 12px;
  border: 0;
  transform: translateX(-181%);
  font: 500 15px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  background: #FAE8E4;
}

#footer__search_number {
  text-align: center;
  width: 89px;
  height: 38px;
  top: 248px;
  margin-top: 37px;
  padding-left: 12px;
  border: 2px solid black;
  font: 500 12px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  background: #FAE8E4;
}

.footer__buttom__basket {
  height: 44px;
  width: 253px;
  margin-top: 36px;
  margin-left: 127px;
  padding-top: 1px;
  padding-right: 11px;
  font: 500 13px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  border: 2px solid black;
  background: #FAE8E4;
  cursor: pointer;
}

.footer__buttom__basket:hover { opacity: 0.5; }

.footer_link {
  display: inline-block;
  text-decoration: none;
  transform: translate(33%,-18%);
  font: 500 14px/16px Monsterrat_Medium, arial, helvetica, sans-serif;
  color: black;
}

.footer_link:hover {
  opacity: 0.5;
  transform: translateX(40%);
}

.footer__link-img {
  padding-left: 13px;
  padding-top: 3px;
}

@media screen and (max-width: 470px) {
  body{
    margin: 0;
    zoom: normal;
}

.header {
  height: 601px;
  width: 100%;
  background: url(img/header_content.svg) center no-repeat;
  background-position-y: 18px;
  background-size: cover;
}

.img__content,
.social,
.content__description,
.content__button,
.header_link,
.img__block_back_white,
.block__link,
.wrapper-language span,
.block__counter,
.counter-2,
.footer__buttom { display: none; }

.logo{
  margin: 0;
  background-color: white;
  -webkit-text-fill-color: #000;
  margin-right: 18%;
  padding-left: 27px;
  padding-top: 16px;
  padding-bottom: 18px;
  transform: translate(-1px,-19px);
  font: 32px/36px Monsterrat_Medium, arial, helvetica, sans-serif;
}

.content { position: static;}

.content__title {
  transform: translate(-148%,425%);
  font: bold 50px/53px Montserrat_bold, arial, helvetica, sans-serif;
}

.menu__btn {
  width: 20%;
  height: 73px;
  right: 0;
  left: 80%;
}

.menu__btn span,
.menu__btn span::before {
  width: 34%;
  left: 38%;
  top: 31%;
}
.menu__btn span::before {
  margin-left: -38%;
  width: 101%;
  margin-top: 6px;
}

.wrapper-language i {
  border: solid #080808;
  border-width: 0 3px 3px 0;
  padding: 10px;
  top: 534px;
  right: 1088%;
}

.wrapper {
  height: 597px;
  top: 583px;
}

.img__block_back_pink {
  width: 226px;
  height: 329px;
  padding: 0;
  transform: translateY(-19%);
  margin-left: 21%;
}

.block {
  margin: auto;
  width: 279px;
  height: 256px;
  padding-left: 29px;
  padding-right: 17px;
  padding-top: 17px;
  padding-bottom: 12px;
  transform: translate(2%,-26%);
}

.block__title {
  font: bold 20px/20px Montserrat_bold, arial, helvetica, sans-serif;
  margin-bottom: 0;
  margin-top: 1px;
}

.block__subtitke {
  font: bold 11px/10px Monsterrat_bold, arial, helvetica, sans-serif;
  margin-bottom: 11px;
  margin-top: 4px;
}

.block__description {
  font: 9px/13px Monsterrat_Regular, arial, helvetica, sans-serif;
  padding-right: 28px;
  padding-top: 3px;
  text-align: left;
}

.buttom__color {
  width: 23px;
  height: 23px;
  margin-right: 6px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: 1px;
}

.buttom__color_pink{
  width: 29px;
  height: 29px;
  transform: translateY(4px);
}

.block_price {
  transform: translate(88%,-170%);
  font: bold 20px/28px Montserrat_bold, arial, helvetica, sans-serif;
}

.block__buttom__basket {
  height: 38px;
  width: 265px;
  margin-left: 4px;
  margin-top: 1px;
  padding-left: 13px;
  transform: translate(-1%,-46%);
  border: 1px solid black;
  font: 500 13px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
}

.footer {
  height: 597px;
  top: 1180px;
}

#rectangle {
  width: 41px;
  height: 100%;
  transform: translateX(256%);
}

.img_footer {
  width: 94%;
  height: 43%;
  padding-left: 0;
  transform: translate(4%,-137%);
}

.footer__content {
  width: 308px;
  height: 197px;
  padding: 0;
  margin: 0;
  transform: translate(14%,-436%);
}

.footer__title {
  font: bold 20px/20px Montserrat_bold, arial, helvetica, sans-serif;
  margin-top: 25px;
  margin-bottom: 8px;
  padding-left: 28px;
  padding-top: 8%;
}

.footer__subtitle {
  font: bold 10px/10px Montserrat_bold, arial, helvetica, sans-serif;
  padding-left: 28px;
  margin-top: 0;
}

.footer__discription {
  font: 9px/12px Monsterrat_Regular, arial, helvetica, sans-serif;
  padding-top: 0;
  padding-left: 27px;
  padding-right: 58px;
}

.footer__buttom__basket {
  height: 37px;
  width: 261px;
  margin-top: 14px;
  margin-left: 9%;
  padding-left: 11px;
  font: 500 13px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  border: 1px solid black;
}

.footer_link {
  margin-right: 147px;
  transform: translate(146px,66px);
  font: 500 15px/18px Monsterrat_Medium, arial, helvetica, sans-serif;
}

.footer__link-img {
  padding-top: 4px;
  width: 87%;
  padding-left: 1px;
}
}

@media (min-width: 471px) and (max-width: 600px) {
  body { zoom: 0.27; }
}

@media (min-width: 601px) and (max-width: 692px) {
  body { zoom: 0.34; }
}

@media (min-width: 693px) and (max-width: 779px) {
  body { zoom: 0.4; }
}

@media (min-width: 780px) and (max-width: 919px) {
body { zoom: 0.45; }
}

@media (min-width: 920px) and (max-width: 1039px) {
body { zoom: 0.53; }
}

@media (min-width: 1040px) and (max-width: 1200px) {
body { zoom: 0.6; }
}

@media (min-width: 1201px) and (max-width: 1385px) {
body { zoom: 0.7; }
}

@media (min-width: 1386px) and (max-width: 1439px) {
body { zoom: 0.8; }

.header_link {
    top: 69%;
    left: 1203px;
}
}

@media (min-width: 1440px) and (max-width: 1500px) {
body{ zoom: normal; }

.header { background-image: url(img/Rectangle_8.svg); }

.menu__btn { width: 6%; }

.wrapper{padding-top: 0; }

.wrapper-language {
  float: right;
  transform: translate(-125%, -294%);
}

.content{
  padding-left: 11%;
  transform: translate(161%,-134%);
}

.content__title {
  margin-bottom: 20px;
  margin-top: 70px;
}

.img__content {
    margin-left: 41%;
    margin-top: 6%;
}

.header_link {
  padding-left: 62%;
  transform: translateY(-433%);
}

.header__link-img {
  width: 46px;
  margin-top: 0;
  padding-left: 102%
}

.img__block_back_white {
  transform: translateX(5%);
  width: 28%;
}

.img__block_back_pink { transform: translate(5%,-73%); }

.block {
  width: 26%;
  height: 57%;
  transform: translate(176%,-241%);
}

.block__title {
  padding-left: 3px;
  font: bold 40px/40px Montserrat_bold, arial, helvetica, sans-serif;
}

.block__subtitke {
  margin-bottom: 3px;
  padding-left: 3px;
  font: bold 16px/16px Montserrat_bold, arial, helvetica, sans-serif;
}

.block__description {
  padding-left: 3px;
  padding-right: 5px;
  text-align: left;
  font: 15px/21px Monsterrat_Regular, arial, helvetica, sans-serif;
}

.block_price {
  transform: translate(94%,-163%);
  margin-right: 124px;
  font: bold 40px/56px Montserrat_bold, arial, helvetica, sans-serif;
}

.block__buttom__basket {
  transform: translate(2%,-95%);
  margin-top: 0;
  font: 500 13px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
}

.block__counter { transform: translate(-5%,-142%); }

.buttom__counter_minus { transform: translateX(176%);}

.bottom__counter_plus { transform: translateX(-181%);}

.block__link {
  transform: translate(-9%,-59px);
  font: 500 13px/16px Monsterrat_Medium, arial, helvetica, sans-serif;
}

.block__link-img {
  padding-left: 50%;
  transform: translateY(-16px);
}

.footer__content {
  width: 26%;
  height: 315px;
  padding-left: 47px;
  padding-top: 34px;
  transform: translate(172%,-438%);
}

.img_footer {
  padding-left: 87px;
  padding-top: 142px;
  transform: translateY(-103%);
}

.footer__title {
    margin-top: 8px;
    margin-bottom: 21px;
    font: bold 40px/35px Montserrat_bold, arial, helvetica, sans-serif;
}

.footer__subtitle {
    letter-spacing: 0.07em;
    opacity: 0.5;
    font: bold 16px/14px Montserrat_bold, arial, helvetica, sans-serif;
}

.footer__discription { font: 15px/22px Monsterrat_Regular, arial, helvetica, sans-serif; }

.footer__buttom { transform: translateY(-99%);}

.footer__buttom__counter_minus {
  transform: translateX(165%);
  margin-left: -8%;
}

.footer__buttom__counter_plus { transform: translateX(-175%);}

#footer__search_number {
  margin-top: 39px;
  margin-left: 2px;
  padding-left: 5px;
}

.footer__buttom__basket {
  margin-top: 39px;
  margin-left: 115px;
  padding-right: 32px;
  padding-left: 22px;
}

.footer_link {
  transform: translate(24%,-3%);
  font: 500 13px/16px Monsterrat_Medium, arial, helvetica, sans-serif;
}

.footer__link-img {
  padding-left: 16px;
  padding-top: 1px;
}
}

@media (min-width: 1501px) and (max-width: 1799px) {
  body{ zoom: 0.86; }
}
