#menu__toggle { opacity: 0; }
body {
  margin: 0;
  padding: 0;
}

.header {
  height: 900px;
  width: 32%;
  z-index: 1;
  background-color: #000;
}

.logo{
  padding-top: 3%;
  padding-left: 52px;
  font: 32px/37px Monsterrat_Medium, arial, helvetica, sans-serif;
  -webkit-text-fill-color: #fff;
}

.social a {
  display: inline-block;
  width: 43px;
  height: 43px;
  transform: translate(51px,747px);
  margin-right: 8px;
  border-radius: 50px;
  font-size: 17px;
  text-align: center;
  line-height: 44px;
  -webkit-text-fill-color: #000;
  background-color: #fff;
}

.social a:hover { -webkit-text-fill-color: #0056ec; }

.wrapper-language {
  position: relative;
  width: 31px;
  height: 25px;
  transform: translate(389px,-1157px);
  color: #fff;
  outline: none;
  cursor: pointer;
  font: 20px/24px Monsterrat_Medium, arial, helvetica, sans-serif;
}

.wrapper-language i {
  position: absolute;
  display: inline-block;
  padding: 3px;
  top: 8px;
  margin-left: 38px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
  cursor: pointer;
}

.content { transform: translate(792px,-1584px); }

.content__title {
  margin-bottom: 16px;
  font: bold 80px/79px Montserrat_bold, arial, helvetica, sans-serif;
}

.content__description {
  transform: translateY(5px);
  font: 15px/21px Monsterrat_Regular, arial, helvetica, sans-serif;
}

.content__button {
  width: 202px;
  height: 43px;
  transform: translate(-3px,28px);
  padding: 15px 21px;
  text-decoration: none;
  cursor: pointer;
  font: 13px/0 Monsterrat_Medium, arial, helvetica, sans-serif;
}

.content__button:hover {
  opacity: 0.5;
  background: linear-gradient(to bottom, #fff, #000);
}

.img__content {
  width: 550px;
  height: 564px;
  transform: translate(34%,-187%);
}

.menu__element {
  display: block;
  padding: 24px;
  font-family: Roboto-Medium, arial, helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500px;
  text-decoration: none;
  transition-duration: 0.01s;
  transform: translateY(-164%);
}
.menu__btn {
  display: block;
  position:absolute;
  width: 86px;
  height: 90px;
  margin-left: 1351px;
  margin-top: -18px;
  background-color:#f2f2f2;
}

.menu__btn span,
.menu__btn span::before {
  position: absolute;
  width: 34px;
  height: 3px;
  transform: translate(84%, 1258%);
  background-color: #000;
  cursor: pointer;
}

.menu__btn span::before {
  content: '';
  left: 0;
  transform: translateY(310%);
}

.menu {
  display: block;
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding-top: 40%;
  text-align: center;
  background-color: #000;
  transition-duration: 0.02s;
}

.menu__element {
  display: block;
  padding: 24px;
  font-family: Roboto-Medium, arial, helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500px;
  text-decoration: none;
  transition-duration: 0.01s;
  transform: translateY(-164%);
  color: #fff;
}
.menu a:hover {
  opacity: 0.7;
  color: #e01919;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  top: 42%;
  left: 30%;
}

#menu__toggle:checked ~ .menu__btn > span::before { transform: rotate(90deg); }

#menu__toggle:checked ~ .menu{
  visibility: visible;
  left: 0;
}

#menu__toggle:checked ~ .img__content {  visibility: hidden;; }

.header_link {
  display: inline-block;
  width: 184px;
  transform: translate(47px,30px);
  text-decoration: none;
  font: 500 13px/0 Monsterrat_Medium, arial, helvetica, sans-serif;
  color: black;
}

.header__link-img {
  width: 76px;
  transform: translate(191px,-3px);
}

.header_link:hover {
  opacity: 0.5;
  transform: translateX(10px);
}

.scroolling__content {
  width: 800px;
  height: 800px;
  transform: translate(181px,-2154px);
}

.wrapper {
  width: 100%;
  height: 900px;
  background-color: #FAE8E4;
}

.img__block{ margin: 0; }

.img__block_back_white {
  width: 394px;
  transform: translate(36px,-2px);
  padding-left: 97px;
  padding-top: 219px;
  padding-right: 344px;
}

.img__block_back_pink {
  transform: translate(40px,-621px);
  padding-top: 12px;
  padding-left: 189px;
  padding-right: 66px
}

.block {
  width: 435px;
  height: 514px;
  transform: translate(873px,-1327px);
  padding-left: 52px;
  padding-top: 40px;
  box-shadow: 0.4em 0.4em 12px rgba(122,122,122,0.5);
  background-color: #fff;
}

.block__title {
  zoom: 0.9;
  transform: translate(6px,-29px);
  font: bold 44px/40px Montserrat_bold, arial, helvetica, sans-serif;
}

.block__subtitke {
  letter-spacing: 0.07em;
  opacity: 0.5;
  transform: translate(5px,-42px);
  font: bold 17px/16px Monsterrat_bold, arial, helvetica, sans-serif;
}

.block__description {
  zoom: 0.88;
  width: 423px;
  transform: translate(6px,3px);
  text-align: inherit;
  opacity: 0.5;
  font: 17px/24px Monsterrat_Regular, arial, helvetica, sans-serif;
}

.buttom__color {
  display: initial;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  margin-right: 8px;
  transform: translate(4px,32px);
  cursor: pointer;
}

.buttom__color:hover { transform: scale(1.5,1.5); }

.buttom__color_gray { background: #DEDEDE; }

.buttom__color_pink {
  width: 38px;
  height: 38px;
  transform: translate(4px,36px);
  background: #F29F9F;
}

.buttom__color_blue { background: #A8BFF9; }

.buttom__color_green { background: #90BD8F; }

.block_price {
  transform: translate(234px,-59px);
  font: bold 41px/56px Montserrat_bold, arial, helvetica, sans-serif;
}

.block__counter{ transform: translate(-5%, -216%); }

.buttom__counter_minus {
  width: 21px;
  height: 12px;
  transform: translate(166%,-2%);
  background: #fff;
  border: 0;
  font: 500 12px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
}

#block__search_number {
  width: 91px;
  height: 38px;
  padding-left: 2px;
  text-align: center;
  background: #ffffff;
  border: 2px solid black;
  font: 500 12px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  color: black;
}

.bottom__counter_plus {
  width: 21px;
  height: 12px;
  transform: translate(-168%,-12%);
  background: #fff;
  border: 0;
  font: 500 12px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
}

.block__buttom__basket {
  width: 253px;
  height: 44px;
  padding-right: 12px;
  transform: translate(47%,-115%);
  font: 500 13px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  border: 2px solid black;
  background: #ffffff;
  cursor: pointer;
}

.block__buttom__basket:hover { opacity: 0.5; }

.block__link {
  display: inline-block;
  transform: translate(-10%,-10px);
  zoom: 0.9;
  text-decoration: none;
  font: 500 14px/16px Monsterrat_Medium, arial, helvetica, sans-serif;
  color: black;
  -webkit-text-stroke-width: thin;
}

.block__link:hover {
  opacity: 0.5;
  transform: translateX(10px);
}

.block__link-img {
  transform: translate(257px,-15px);
  width: 56%;
}

.footer {
  width: 100%;
  height: 900px;
  background-color: #EBE3D8;
}

#rectangle {
  width: 73px;
  height: 900px;
  transform: translateX(528%);
  background: #000;
}

.footer__content {
  width: 29%;
  height: 315px;
  padding-left: 47px;
  padding-top: 34px;
  transform: translate(816px,-402%);
  background-color: #FAE8E4;
}

.img_footer {
  width: 820px;
  height: 618px;
  padding-top: 138px;
  transform: translate(10%,-118%);
  box-shadow: 0 11px 5px -5px rgba(122 122 122 / 50%);
}

.footer__title {
  font: bold 42px/35px Montserrat_bold, arial, helvetica, sans-serif;
  transform: translateY(-94%);
  zoom: 0.94;
}

.footer__subtitle {
  font: bold 17px/14px Monsterrat_Regular, arial, helvetica, sans-serif;
  letter-spacing: 0.07em;
  opacity: 0.5;
  transform: translateY(-366%);
  zoom: 0.93;
}

.footer__discription {
  font: 17px/22px Monsterrat_Regular, arial, helvetica, sans-serif;
  opacity: 0.5;
  padding-left: 2px;
  padding-right: 26px;
  transform: translateY(-47%);
  width: 388px;
  zoom: 0.88;
}

.footer__buttom { transform: translate(-7%,-66%); }

.footer__buttom__counter_minus{
  width: 23px;
  height: 17px;
  border: 0;
  text-align: center;
  transform: translate(159%,3px);
  font: 500 24px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  cursor: pointer;
  background: #FAE8E4;
}

.footer__buttom__counter_plus {
  width: 21px;
  height: 12px;
  border: 0;
  transform: translate(-181%,1px);
  font: 500 15px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  background: #FAE8E4;
}

#footer__search_number {
  text-align: center;
  width: 88px;
  height: 38px;
  top: 248px;
  padding-left: 4px;
  border: 2px solid black;
  font: 500 12px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  background: #FAE8E4;
}

.footer__buttom__basket {
  height: 44px;
  width: 253px;
  transform: translate(45%,34%);
  font: 500 13px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  border: 2px solid black;
  background: #FAE8E4;
  cursor: pointer;
}

.footer__buttom__basket:hover { opacity: 0.5; }

.footer_link {
  display: inline-block;
  text-decoration: none;
  transform: translate(26%,334%);
  font: 500 14px/16px Monsterrat_Medium, arial, helvetica, sans-serif;
  color: black;
  zoom: 0.9;
}

.footer_link:hover {
  opacity: 0.5;
  transform: translateX(25%);
}

.footer__link-img {
  padding-left: 13px;
  padding-top: 1px;
  width: 121px;
}

@media screen and (max-width: 420px) {
  
body { zoom: normal; }
}

@media screen and (min-width: 421px) and (max-width: 470px) {

body { zoom: 1.1; }
}

@media screen and (min-width: 471px) and (max-width: 510px) {

body { zoom: 1.25; }
}

@media screen and (min-width: 511px) and (max-width: 590px) {

body { zoom: 1.4; }
}

@media screen and (min-width: 591px) and (max-width: 630px) {

body { zoom: 1.55; }
}

@media screen and (min-width: 631px) and (max-width: 680px) {

body { zoom: 1.65; }
}


@media screen and (min-width: 681px) and (max-width: 700px) {

body { zoom: 1.7; }
}

@media screen and (min-width: 701px) and (max-width: 768px) {
body { zoom: 1.85; }
}

@media (min-width: 769px) and (max-width: 792px) {
 body { zoom: 0.56; }

 .menu__btn { margin-left: 93.8%; }
}

@media (min-width: 793px) and (max-width: 821px) {
 body { zoom: 0.57; }

  .menu__btn { margin-left: 93.8%; }
}

@media (min-width: 822px) and (max-width: 864px) {
  body { zoom: 0.6;}

   .menu__btn { margin-left: 93.9%; }
}

@media (min-width: 865px) and (max-width: 908px) {
  body { zoom: 0.63;}

   .menu__btn { margin-left: 93.8%; }
}

@media (min-width: 909px) and (max-width: 936px) {
body { zoom: 0.65;}

 .menu__btn { margin-left: 93.8%; }
}

@media (min-width: 937px) and (max-width: 979px) {
body { zoom: 0.68;}

 .menu__btn { margin-left: 93.8%; }
}

@media (min-width: 980px) and (max-width: 1020px) {
body { zoom: 0.71;}

 .menu__btn { margin-left: 93.8%; }
}

@media (min-width: 1021px) and (max-width: 1066px) {
body { zoom: 0.74;}

 .menu__btn { margin-left: 93.8%; }
}

@media (min-width: 1067px) and (max-width: 1124px) {
body { zoom: 0.78; }

 .menu__btn { margin-left: 93.8%; }
}

@media (min-width: 1125px) and (max-width: 1164px) {
body { zoom: 0.81; }

 .menu__btn { margin-left: 93.8%; }
}

@media (min-width: 1165px) and (max-width: 1210px) {
body { zoom: 0.84; }

 .menu__btn { margin-left: 93.8%; }
}

@media (min-width: 1211px) and (max-width: 1268px) {
body { zoom: 0.88; }

 .menu__btn { margin-left: 93.8%; }
}

@media (min-width: 1269px) and (max-width: 1300px) {
  body { zoom: 0.91; }

   .menu__btn { margin-left: 93.8%; }
  }

@media (min-width: 1301px) and (max-width: 1365px) {
body { zoom: 0.95; }

 .menu__btn { margin-left: 93.8%; }
}

@media (min-width: 1366px) and (max-width: 1426px) {
body { zoom: 0.99; }

 .menu__btn { margin-left: 93.8%; }
}
