#menu__toggle { display: none; }

body { margin: 0; }

.header {
  height: 900px;
  width: 100%;
}

#rectangle__header {
  height: 900px;
  width: 32%;
  background-color: #000;
  -webkit-text-fill-color: #fff;
}

.header-logo {  padding-top: 7%; }

.logo {
  padding-left: 11%;
  font: 30px/37px Monsterrat_Medium, arial, helvetica, sans-serif;
  letter-spacing: 0.07em;
}

.wrapper-language {
  display: flex;
  position: relative;
  padding-left: 84%;
  bottom: 29px;
  align-items: center;
  cursor: pointer;
  font: 20px/24px Monsterrat_Medium, arial, helvetica, sans-serif;
}

.wrapper-language i {
  padding: 3px;
  margin: 2% 0 0 13%;
  -webkit-transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
  cursor: pointer;
}

.menu__btn {
  display: block;
  width: 89px;
  height: 90px;
  margin-left: auto;
  float: right;
  background-color:#f2f2f2;
}

.menu__btn span,
.menu__btn span::before {
  display: flex;
  width: 34px;
  height: 3px;
  margin: 37px 0 0 27px;
  background-color: #000;
  cursor: pointer;
}

.menu__btn span::before {
  content: '';
  margin: 10px 0 0 0;
}

.menu {
  position: relative;
  width: 30%;
  bottom: 180%;
  text-align: center;
  transition-duration: 0.02s;
  visibility: hidden;
}

.menu__element {
  display: block;
  padding: 24px;
  font-family: Roboto-Medium, arial, helvetica, sans-serif;
  font-size: 30px;
  text-decoration: none;
  transition-duration: 0.01s;
  color: #fff;
}

.menu a:hover {
  opacity: 0.7;
  color: #e01919;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  margin: 42px 0 0 31px;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  transform: rotate(90deg);
  margin: 0;
}

#menu__toggle:checked ~ .menu {  visibility: visible; }

#menu__toggle:checked ~ #wrapper__header .img__content { visibility: hidden; }

.social a {
  display: inline-block;
  position: relative;
  margin: 722px 0 0 7px;
  left: 44px;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  font-size: 17px;
  text-align: center;
  line-height: 44px;
  -webkit-text-fill-color: #000;
  background-color: #fff;
}

.social a:hover { -webkit-text-fill-color: #0056ec; }

.img__content {
position: relative;
bottom: 82%;
left: 13%;
padding-top: 5px;
}

.content {
  position: relative;
  width: 620px;
  padding: 4px 0 0 12px;
  bottom: 134%;
  left: 54%;
}

.content__title {
  margin: 0;
  font: bold 80px/82px Montserrat_bold, arial, helvetica, sans-serif;
}

.content__description {
  width: 73%;
  padding: 2px 0 24px 0;
  font: 15px/21px Monsterrat_Regular, arial, helvetica, sans-serif;
}

.content__button {
  position: relative;
  width: 202px;
  height: 43px;
  padding: 15px 18px;
  right: 3px;
  bottom: 6px;
  text-decoration: none;
  cursor: pointer;
  font: 13px/0 Monsterrat_Medium, arial, helvetica, sans-serif;
}

.content__button:hover {
  opacity: 0.5;
  background: linear-gradient(to bottom, #fff, #000);
}

.header_link {
  display: inline-block;
  padding: 21px  0 0 49px;
  text-decoration: none;
  font: 500 13px/0 Monsterrat_Medium, arial, helvetica, sans-serif;
  color: black;
}

.header__link-img {
  position: relative;
  padding-left: 87%;
  bottom: 5px;
}

.header_link:hover {
  opacity: 0.5;
  transform: translateX(10px);
}

.scroolling__content {
  position: relative;
  bottom: 119%;
  left: 48%;
  height: 48px;
  padding: 12px 0 0 11px;
}

.wrapper {
  width: 100%;
  height: 900px;
  background-color: #FAE8E4;
}

.img__block {
  position: relative;
  margin: 0;
}

.img__block_back_white {
  width: 394px;
  left: 136px;
  bottom: 211px;
}

.img__block_back_pink {
  right: 170px;
  top: 31px;
}

.block {
  position: relative;
  width: 431px;
  height: 553px;
  left: 875px;
  bottom: 677px;
  padding: 2px 0 0 54px;
  box-shadow: 0.4em 0.4em 12px rgba(122,122,122,0.5);
  background-color: #fff;
}

.block__title {
  padding-top: 43px;
  margin: 0;
  font: bold 40px/41px Montserrat_bold, arial, helvetica, sans-serif;
}

.block__subtitke {
  letter-spacing: 0.07em;
  opacity: 0.5;
  padding-bottom: 46px;
  font: bold 17px/12px Monsterrat_bold, arial, helvetica, sans-serif;
}

.block__description {
  width: 372px;
  text-align: inherit;
  opacity: 0.5;
  font: 15px/21px Monsterrat_Regular, arial, helvetica, sans-serif;
}

.button__color {
  display: initial;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  margin: 30px 8px 0 0;
  cursor: pointer;
}

.button__color:hover { transform: scale(1.5,1.5); }

.button__color_gray { background: #DEDEDE; }

.button__color_pink {
  position: relative;
  width: 38px;
  height: 38px;
  top: 4px;
  background: #F29F9F;
}

.button__color_blue { background: #A8BFF9; }

.button__color_green { background: #90BD8F; }

.block_price {
  position: relative;
  width: 29%;
  padding-left: 54%;
  bottom: 50px;
  margin: 0;
  font: bold 40px/56px Montserrat_bold, arial, helvetica, sans-serif;
}

.block__counter{
  position: relative;
  bottom: 44px;
  right: 25px;
}

.block__button__counter_minus {
  position: relative;
  left: 35px;
  bottom: 2px;
  width: 21px;
  height: 12px;
  background: #fff;
  border: 0;
  cursor: pointer;
}

#block__search_number {
  width: 92px;
  height: 38px;
  text-align: center;
  background: #ffffff;
  border: 2px solid black;
  font: 500 12px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  color: black;
}

.block__botton__counter_plus {
  width: 21px;
  height: 12px;
  position: relative;
  right: 38px;
  background: #fff;
  border: 0;
  bottom: 1px;
  cursor: pointer;
}

.block__button__basket {
  width: 252px;
  height: 44px;
  margin-left: 115px;
  padding-right: 15px;
  font: 500 13px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  border: 2px solid black;
  background: #ffffff;
  cursor: pointer;
}

.block__button__basket:hover { opacity: 0.5; }

.block__link {
  position: relative;
  display: flex;
  width: 482px;
  top: 38px;
  right: 49px;
  text-decoration: none;
  font: 500 13px/16px Monsterrat_Medium, arial, helvetica, sans-serif;
  color: black;
  -webkit-text-stroke-width: thin;
}

.block__link:hover {
  opacity: 0.5;
  transform: translateX(10px);
}

.block__link-img {
  position: relative;
  top: 2px;
  padding-left: 14px;
}

.footer {
  width: 100%;
  height: 900px;
  background-color: #EBE3D8;
}

#wrapper__footer {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

#rectangle__footer {
  width: 73px;
  height: 899px;
  background: #000;
  margin-left: 26.8%;
}

.img__footer{
  position: relative;
  display: block;
  bottom: 693px;
  height: 620px;
}

.img__footer_сontent {
  bottom: 113%;
  left: 3%;
  z-index: 1;
  padding: 1px 0 0 7px;
}

.img__footer_shadow {
  width: 1042px;
  height: 618px;
  z-index: 0;
  bottom: 0;
}

.footer__block {
  position: relative;
  z-index: 3;
  left: 56.5%;
  width: 429px;
  height: 337px;
  padding: 9px 0 0 46px;
  bottom: 145%;
  margin-top: 27px;
  background-color: #FAE8E4;
}

.footer__title {
  font: bold 40px/41px Montserrat_bold, arial, helvetica, sans-serif;
  margin: 28px 0 0 2px;
}

.footer__subtitle {
  font: bold 16px/16px Monsterrat_Regular, arial, helvetica, sans-serif;
  letter-spacing: 0.07em;
  opacity: 0.5;
  padding-left: 2px;
}

.footer__discription {
  font: 15px/21px Monsterrat_Regular, arial, helvetica, sans-serif;
  opacity: 0.5;
  padding: 16px 0 21px 4px;
  width: 365px;
}

.footer__button {
  position:relative;
  bottom: 45px;
  right: 25px;
}

.footer__button__counter_minus{
  width: 23px;
  height: 17px;
  top: 2px;
  left: 37px;
  border: 0;
  text-align: center;
  font: 500 24px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  cursor: pointer;
  background: #FAE8E4;
}

.footer__button__counter_plus {
  width: 21px;
  height: 12px;
  border: 0;
  top: 1px;
  right: 39px;
  font: 500 15px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  cursor: pointer;
  background: #FAE8E4;
}

#footer__search_number {
  text-align: center;
  width: 93px;
  height: 39px;
  border: 2px solid black;
  font: 500 12px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  background: #FAE8E4;
}

.footer__button__basket {
  height: 45px;
  width: 252px;
  margin: 19px 0 0 117px;
  padding: 19px 12px 22px 8px;
  font: 500 13px/0px Monsterrat_Medium, arial, helvetica, sans-serif;
  border: 2px solid black;
  background: #FAE8E4;
  cursor: pointer;
}

.footer__button__basket:hover { opacity: 0.5; }

.footer_link {
  display: inline-block;
  width: 346px;
  text-decoration: none;
  margin: 36px 0 0 86px;
  font: 500 13px/16px Monsterrat_Medium, arial, helvetica, sans-serif;
  color: black;
}

.footer_link:hover {
  opacity: 0.5;
  transform: translateX(25%);
}

.footer__link-img { padding: 2px 0 0 11px; }


@media only screen and (min-width : 769px) and (max-width : 999px)
{

.header-logo { padding-top: 11%; }

  .wrapper-language {
    bottom: 29px;
    right: 6%;
  }

  .img__content {
    width: 50vw;
    left: 6%;
    bottom: 79%;
  }

  .content{
    bottom: 125%;
    width: 37vw;
    left: 59%;
  }

  .content__title { font-size: 6vw;}

  .content__description {
    width: 107%;
    margin: 0;
  }

  .scroolling__content {
    bottom: 110%;
    left: 45%;
  }

  .header_link {
    position: relative;
    font-size: 1.2vw;
    bottom: 38px;
    left: 50%;
    padding: 0;
  }

  .header__link-img {
    padding-left: 5px;
    top: 1px;
    width: 4vw;
  }

.content__button {
  font-size: 0.6em;
  width: 17.2vw;
}

  .img__block_back_white {
    bottom: 6vw;
    left: 2%;
    width: 32vw;
  }

  .img__block_back_pink {
    right: 22%;
    top: 103px;
    width: 43vw;
  }

  .block {
    width: 39.5vw;
    bottom: 51vw;
    left: 55vw;
    padding-left: 5vw;
  }

  .block__title { font-size: 2em; }

  .block__subtitke { padding: 0; }

  .block__description { width: 94%; }

  .block_price {
    font-size: 2em;
    bottom: 5vh;
  }

  .block__button__basket {
    width: 23vw;
    font-size: 0.7em;
    margin-left: 36%;
  }

  .block__link {
    align-items: center;
    justify-content: space-evenly;
    top: 6vw;
    width: 45vw;
  }

  .block__link-img {
    width: 16vw;
    top: auto;
    padding-left: 1px;
  }

  .img__footer_shadow {
    width: 53vw;
    bottom: 12%
  }

  .img__footer_сontent {
    width: 64vw;
    left: auto;
    right: 4vw;
    bottom: 123%;
  }

  .footer__block {
    width: 39vw;
    height: 300px;
    padding-left: 22px;
  }

  .footer__title { font-size: 1.8em; }

  .footer__discription {
    padding-bottom: 9px;
    width: 98%;
  }

  .footer__button__basket {
    font-size: 0.7em;
    width: 23vw;
    margin-top: 0
  }

  .footer__button { bottom: 14%; }

  .footer_link {
    margin: 17px 0 0 94px;
    width: 22vw;
  }

  .footer__link-img {
    width: 17%;
    padding: 3px;
  }
  }

@media (min-width: 1000px) and (max-width: 1200px)
{
  .wrapper-language { padding-left: 81%; }

  .img__content {
  width: 44vw;
  bottom: 78%;
  left: 10%;
}

.content{
  bottom: 127%;
  width: 45vw;
}

.content__title { font-size: 4.5em;}

.content__description { width: 39vw; }

.scroolling__content {
  bottom: 111%;
  padding: 0;
}

.header_link {
  position: relative;
  bottom: 7px;
  left: 4%;
  padding: 0;
}

.header__link-img {
  padding-left: 2px;
  top: 2px;
}

.img__block_back_white {
  bottom: 134px;
  left: 3%;
  width: 32vw;
}

.img__block_back_pink {
  right: 21%;
  top: 49px;
  width: 43vw;
}

.block {
  width: 388px;
  bottom: 51vw;
  left: 55vw;
}

.block__link {
 width: 45vw;
 flex-direction: row;
}

.block__link-img {
  width: 42%;
  padding-left: 8px;
}

.img__footer_shadow {
  width: 53vw;
  left: 45px;
  bottom: 10%;
}

.img__footer_сontent {
  width: 60vw;
  left: 2%;
  bottom: 121%;
}

.footer__block {
  width: 37vw;
  height: 307px;
}

.footer__title { font-size: 2.2em; }

.footer__discription { padding-bottom: 9px;}

.footer__button__basket {
  font-size: 0.7em;
  width: 21vw;
  margin-top: 0
}

.footer__button { bottom: 14%; }

.footer_link {
  margin: 27px 0 0 6vw;
  width: 83%;
}

.footer__link-img {
  width: 6vw;
  padding-left: 0;
}
}

@media (min-width: 1201px) and (max-width: 1379px)
{

.img__content { left: 10%; }

.content{
  left: 58%;
  width: 40vw;
}

.content__description { width: 39vw; }

.header__link-img {
  padding-left: 2px;
  top: 2px;
}

.img__block_back_white {
  left: 4%;
  width: 32vw;
}

.img__block_back_pink {
  right: 20vw;
  top: 0;
  width: 44vw;
}

.block {
  width: 34vw;
  bottom: 53vw;
  left: 60vw;
}

.block__link { width: 39vw; }

.block__link-img { padding-left: 0; }

.img__footer_shadow {
  right: 13%;
  bottom: 19%;
}

.img__footer_сontent {
  width: 62vw;
  bottom: 122%;
}

.footer__block {
  height: 304px;
  left: 58%;
  bottom: 147%;
}

.footer__discription { padding-bottom: 9px;}

.footer__button__basket { margin-top: 0; }

.footer__button { bottom: 15%; }

.footer_link { margin-left: 25%;}

.footer__link-img {
  position: relative;
  top: 2px;
  padding-left: 0;
}
}
